<form name="form" class="css-form" novalidate>
  <label>Name:
  <input type="text" ng-model="user.name" name="uName" required />
</label>

  <br />
  <div ng-show="form.$submitted || form.uName.$touched">
    <div ng-show="form.uName.$error.required">Tell us your name.</div>
  </div>

  <label>E-mail:
  <input type="email" ng-model="user.email" name="uEmail" required />
</label>

  <br />
  <div ng-show="form.$submitted || form.uEmail.$touched">
    <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
    <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
  </div>

  <br />

  <div>
    <p>
      <label>Date of birth: </label>
      <input type="date" id="birthday" ng-model="user.birthday" max="{{ $ctrl.now | date:'yyyy-MM-dd'}}" required />
    </p>
  </div>

  <div>
    <p>
      <label>Delivery date: </label>
      <input type="date" id="date" ng-model="deliveryDate" min="{{ $ctrl.now | date:'yyyy-MM-dd'}}" required />
    </p>

  </div>


  <input type="submit" ng-click="onClick(user, deliveryDate)" value="Confirm" ng-disabled="form.$invalid" class="btn btn-primary" />
</form>
